*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

.navigation-bar{
    background-color: #A0937D;
}

.home{
    background-color: #E7D4B5;
}

.card {
    min-height: 550px;
    height: 100%;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
}

.categories-section{
    background-color: #F6E6CB;
}

.carousel-item img {
    height: 300px;
    width: 1000px;
    object-fit: cover;
}

.about-section {
    background-color: #B6C7AA;
}

#mission h3,
#mission p {
    font-style: italic;
}